<!-- wp:template-part {"slug":"header","theme":"educational-blocks","tagName":"header","className":"home-header-class"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"educational-blocks/banner"} /-->

<!-- wp:pattern {"slug":"educational-blocks/our-services"} /-->

<!-- wp:pattern {"slug":"educational-blocks/popular-courses"} /-->

<!-- wp:pattern {"slug":"educational-blocks/about-us"} /-->

<!-- wp:pattern {"slug":"educational-blocks/events"} /-->

<!-- wp:pattern {"slug":"educational-blocks/featured-courses"} /-->

<!-- wp:pattern {"slug":"educational-blocks/testimonial"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"educational-blocks","tagName":"footer","className":"home-footer-class"} /-->